@import '@fontsource/martel';
@import '@fontsource-variable/assistant';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #ffffff;

  --color-black: #000000;

  --color-gray-1: #e8e8e8;
  --color-gray-2: #d9d9d9;

  --color-blue-0: #e4e6f2;
  --color-blue-1: #7c7992;
  --color-blue-2: #636174;
  --color-blue-3: #525060;
  --color-blue-4: #363c47;

  --color-gold-0: #bba84c;

  --page-content-width: 1200px;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  font-family: 'Assistant Variable', sans-serif;
}

h1 {
  font-family: 'Martel', serif;
}

h2 {
  font-size: 19px;
}

.page-content-width {
  max-width: var(--page-content-width);
}
